#map { height: 300px; }
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 60px; /* Aumenta la dimensione */
    height: 60px;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered img {
    margin-bottom: 0;
    height: 220px;
    width: 480px;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: -1;
    backdrop-filter: blur(5px);
}
.navbar .navbar-brand, 
.navbar .nav-link {
    color: #cccccc !important;
}
.copyrights, .card {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    border: none; /* Rimuove il bordo */
    color: #cccccc; /* Testo grigio chiaro, come nella navbar */
}

/*Parametri tema scuro e chiaro*/

:root {
    --bg-color: url("/FountMain/FountMain/public/Img/sfondo2.bmp"); /* Default: dark theme */
    --text-color: #cccccc;
}

.light-mode {
    --bg-color: url("/FountMain/FountMain/public/Img/sfondo3.bmp");
    --text-color: black;
}

body {
    background: var(--bg-color);
    height: 250px;
    background-size: cover;
    color: var(--text-color);
    transition: background 0.5s, color 0.5s; /* Effetto di transizione */
}

.navbar, .copyrights, .card {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    color: var(--text-color);
}





/* Assicura che il footer sia sempre in fondo */
html, body {
    height: 100%; /* Imposta l'altezza di html e body al 100% */
    margin: 0; /* Rimuove margini predefiniti */
    padding: 0;
    display: flex;
    flex-direction: column;
}


footer {
    margin-top: auto; /* Spinge il footer in fondo alla pagina */
    width: 100%;
    color: var(--text-color);
    text-align: center;
    height: 75px;
}


/* Scrollbar viola a sinistra e personalizzata */
body {
    direction: rtl; /* Inverte la direzione della scrollbar */
}
body * {
    direction: ltr; /* Mantiene il testo normale */
}

/* Personalizzazione scrollbar per Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 12px;
    background:rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #8000ff; /* Viola */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background:rgb(0, 0, 0); /* Viola più chiaro al passaggio */
}

/* Per Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #29345e rgb(7, 8, 15, 1); /* Viola su sfondo nero */
}